<div class="row h-100 justify-content-center align-items-center">
    <div>	
        <div class="row justify-content-center">
            <h1><span class="error-sign">Ooops!</span></h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="error-title" > {{errorTitle}} </h2>
        </div>
        <div class="row justify-content-center">
            <p> {{errorText}} </p>
        </div>
        <div class="row justify-content-center">
            <a routerLink="" class="btn py-3 px-4 btn-primary">Go To List</a>
        </div>	
    </div>		  		
</div>
