<!-- TODO -->
<div class="sidebar-box ftco-animate search-section">
<!-- div class="sidebar-box search-section" -->
    <h3 class="sidebar-heading section-header">Search</h3>
    <div class="search-form">
        <div class="form-group">
              <span *ngIf="searchText == null" class="icon icon-search" (click)="onClickSearch(searchTextInput.value)"></span>
              <span *ngIf="searchText != null" class="icon icon-cross" (click)="onClickClear()"></span>
              <input #searchTextInput type="text" class="form-control" placeholder="Type a keyword" value="{{searchText}}" /> 
        </div>
    </div> 
</div>
