<div class="row">
    <div class="col text-center text-md-left">
      <div class="block-27">
        <ul>
          <li *ngIf="pagination?.isDisablePrevious()" class="disabled"><span>&lt;</span></li>
          <li *ngIf="!pagination?.isDisablePrevious()"><a [routerLink]="" (click)="onClickPrevious()">&lt;</a></li>
          
          <span *ngFor="let page of pagination?.getPages()">
              <li *ngIf="page == pagination?.getPage()" class="active"><span> {{page}} </span></li>
              <!-- TODO -->
              <li *ngIf="page != pagination?.getPage()"><a href="#"> {{page}} </a></li>
          </span>
          
          <li *ngIf="pagination?.isDisableNext()" class="disabled"><span>&gt;</span></li>
          <li *ngIf="!pagination?.isDisableNext()"><a [routerLink]="" (click)="onClickNext()">&gt;</a></li>
        </ul>
      </div>		            
    </div>
  </div>
