<div class="row">
    <div class="col text-center text-md-left">
      <div class="block-27">
        <ul>
          <li *ngIf="disablePrevious" class="disabled"><span>&lt;</span></li>
          <li *ngIf="!disablePrevious"><a [routerLink]="" (click)="onClickPrevious()" class="pointer">&lt;</a></li>
          
          <span *ngFor="let pageItem of pages">
              <li *ngIf="pageItem == page" class="active"><span> {{pageItem}} </span></li>
              <li *ngIf="pageItem != page"><a [routerLink]="" (click)="onClick(pageItem)" class="pointer"> {{pageItem}} </a></li>
          </span>
          
          <li *ngIf="disableNext" class="disabled"><span>&gt;</span></li>
          <li *ngIf="!disableNext"><a [routerLink]="" (click)="onClickNext()" class="pointer">&gt;</a></li>
        </ul>
      </div>		            
    </div>
  </div>
