<div class="row">
    <div class="col text-center text-md-left">
      <div class="block-27">
        <ul>
          <li *ngIf="pagination?.isDisabledPrevious" class="disabled"><span>&lt;</span></li>
          <li *ngIf="!pagination?.isDisabledPrevious"><a href="#">&lt;</a></li>
          
          <span *ngFor="let page of pagination?.getPages()">
              <li *ngIf="page == pagination?.getCurrentPage()" class="active"><span> {{page}} </span></li>
              <li *ngIf="page != pagination?.getCurrentPage()"><a href="#"> {{page}} </a></li>
          </span>
          
          <li *ngIf="pagination?.isDisableNext" class="disabled"><span>&gt;</span></li>
          <li *ngIf="!pagination?.isDisableNext"><a href="#">&gt;</a></li>
        </ul>
      </div>		            
    </div>
  </div>
